@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
html{height: 100%}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-header{
    z-index: 999;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.zoom-control{
    height: 86px;
    width: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.move-control{
    height: 85px;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.move-btn-y, .move-btn-x{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.move-btn-y{
    height: 25px;
    width: 35px;
}
.move-btn-x{
    height: 35px;
    width: 25px;
}

.zoom-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 50%;
}



#zoom-plus, #move-up{
    border-radius: 8px 8px 0 0;
}

#zoom-minus, #move-down{
    border-radius: 0 0 8px 8px;
}

#move-right{
    border-radius: 0 8px 8px 0;
}
#move-left{
    border-radius: 8px 0 0 8px;
}


.move-spacing{
    height: 35px;
    width: 35px;
    background-color: white;
}

.move-side{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zoom-btn:hover, .move-btn-x:hover, .move-btn-y:hover{
    background-color: #b4b4b4;
}

.control-header> :first-child {
    margin-left: 20px;
}

.control-header> :last-child {
    margin-right: 20px;
}


.img-main{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.title{
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

.loading{
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    position: absolute;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
    font-family: 'Ubuntu Mono';
    font-weight: bold;
    font-size: 18px;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 1em;
    color: black;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #d2d2d2;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #262626;
}